DJANGO_SECRET_KEY="your_django_secret_key"

# For local db use "True", for production db use "False"

DJANGO_DEBUG="True"


# Used in production

# URL to postgreSQL base

DATABASE_URL="postgresql://login:password@url/name_db"

# Dropbox storage for media files

DROPBOX_OAUTH2_TOKEN="your OAUTH2 token"
DROPBOX_APP_KEY="your dropbox app key"
DROPBOX_APP_SECRET="your dropbox app secret key"
DROPBOX_OAUTH2_REFRESH_TOKEN="your OAUTH2 refresh token"
DEFAULT_FILE_STORAGE="storages.backends.dropbox.DropBoxStorage"
