body {
    background-image: linear-gradient(to right, #f5f5f5, #9a7575);
    /*{background-image: url("/static/img/log.png")*/
}

.first {
    background-image: url("/static/img/log.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-login {
    position: absolute;
    top: 20em;
    left: 13em;
}

.navbar {
    color: #9a0d26;
}

.name1, .name2, .name3 {
    position: absolute;
    font-size: 600%;
    color: #d75c5c;
    text-shadow: 3px 3px 5px darkred;
    animation-name: login;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes login {
    0% {
        color: #a96666;
    }
    20% {
        color: #b25959;
    }
    40% {
        color: #c52c2c;
    }
    60% {
        color: #9a0d26;
    }
    60% {
        color: #c52c2c;
    }
    100% {
        color: #b25959;
    }
}

.name1 {
    top: -0.25em;
}

.name2 {
    top: 0.65em;
    left: 0.75em;
}

.name3 {
    top: 1.65em;
    left: 1.35em;
}

.sidebar {
    position: fixed;
}

.nav-item {
    margin-bottom: 5px;
    border-radius: 7px;
}

.nav-active {
    font-weight: 600;
    box-shadow: 3px 3px 25px lightgray;
    background-color: white;
}

img {
    border-radius: 25px;
}

.card {
    box-shadow: 3px 3px 25px lightgray;
    background: white;
    border-radius: 25px;
}

.svg-active {
    background-color: #d53955;
    border-radius: 7px;
    box-shadow: 3px 3px 15px lightgray;
    color: white;
}

.card-top {
    text-shadow: 3px 3px 5px darkred;
    background-image: linear-gradient(to right, #d75c5c, #9a0d26);
    border-radius: 25px;
}

button {
    font-weight: 600;
    border-radius: 7px;
    box-shadow: 3px 3px 15px lightgray;
    background-color: white;
}

button:active {
    font-weight: 600;
    border-radius: 7px;
    box-shadow: none;
    background-color: #f5f5f5;
}

.btn {
    text-shadow: none;
}

.dropdown-item:active {
    background-color: white
}

.dropdown-item:visited {
    background-color: white
}

.dropdown-item:hover {
    background-color: white
}

.mb-3 {
    text-shadow: 3px 3px 5px lightgray;
}

.form-control, .form-select, .btn {
    box-shadow: 3px 3px 25px lightgray;
}

.dateinput {
    width: 150px;
}

.dismissal {
    display: inline;
}

.ts {
    text-shadow: 3px 3px 5px lightgray;
}

.dl {
    box-shadow: 3px 3px 25px lightgray;
    border-radius: 25px;
}

.fix {
    width: 200px;
}

.dish-text {
    font-size: small;
}

.tn {
    font-size: large;
}

.search {
    display: flex;
    padding: 0;
    border-radius: 35px;
    transition: 0.4s;
}

.search .textbox {
    border: 0;
    width: 0;
    text-indent: 16px;
    transition: 0.4s;
}

.search:hover .textbox {
    width: 250px;
}

.search .icon {
    border: 0;
    pointer-events: none;
    border-radius: inherit;
    background: #9a0d26;
    width: 45px;
    height: 40px;
}

.shadow-none {
    box-shadow: none;
    text-shadow: none;
}

.month {
    text-align: center;
    text-shadow: 3px 3px 5px lightgray;
    /*background-image: linear-gradient(to right, #d75c5c, #9a0d26);*/
    border-radius: 25px;
}

.mon, .tue, .wed, .thu, .fri, .sat, .sun {
   padding: 5px 15px;
}

.today {
    background: #d75c5c;
    border-radius: 25px;
    text-shadow: 3px 3px 5px darkred;
}
