{% load endswith %}
<div class="dropdown vh-100 pt-2">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item {% if request.path|endswith:"home/" %} nav-active  {% endif %}">
      <a href="{% url 'cafe:home' %}" class="nav-link link-dark align-center" aria-current="page">
        <svg class="bi me-2 {% if request.path|endswith:"home/" %} svg-active {% else %} nav-active {% endif %}" width="30" height="30"><use xlink:href="#home"></use></svg>
        Home
      </a>
    </li>
    <li class="nav-item {% if request.path|endswith:"orders/" %} nav-active  {% endif %}">
      <a href="{% url 'cafe:order-list' %}" class="nav-link link-dark">
        <svg class="bi me-2 {% if request.path|endswith:"orders/" %} svg-active {% else %} nav-active {% endif %}" width="30" height="30"><use xlink:href="#speedometer2"></use></svg>
        order
      </a>
    </li>
    <li class="nav-item {% if request.path|endswith:"dishes/" %} nav-active  {% endif %}">
      <a href="{% url 'cafe:dish-list' %}" class="nav-link link-dark">
        <svg class="bi me-2 {% if request.path|endswith:"dishes/" %} svg-active {% else %} nav-active {% endif %}" width="30" height="30"><use xlink:href="#table"></use></svg>
        dishes
      </a>
    </li>
    <hr>
    <li class="nav-item ">
      <button class="border-0 w-100" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        <svg class="bi me-2 nav-active svg-active mt-1" width="30" height="30"><use xlink:href="#people-circle"></use></svg>
        {{ request.user.username }}
        <p class="mb-0">Position: {{ request.user.position }}</p>
      </button>
      <ul class="dropdown-menu text-small shadow border-0" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="{% url 'cafe:order-create' %}">Create new order</a></li>
        <li><a class="dropdown-item" href="{% url 'cafe:employee-detail' pk=request.user.pk %}">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item logout" href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </li>
  </ul>
</div>
