{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <div class="card nav-active border-0 mt-4">
    <div class="card-top pt-1 m-2">
      <h3 class="px-5">{{ object|yesno:"Update,Create new" }} dish</h3>
    </div>
    <div class="card-body">
  <form action="" method="post" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-primary" type="submit" value="{{ object|yesno:"Update,Create" }} dish recipe">
  </form>
{% endblock %}