{% extends "base.html" %}
{% block content %}
  <div class="card border-0 mt-4">
    <div class="card-top pt-1 m-2 d-flex flex-row justify-content-between">
      <h3 class="ps-5">Warehouse</h3>
      <h5 class="p-0 mb-1">
      <form action="" method="get" class="search" type="search">
        {{ search_form }}
        <input class="search icon" type="submit" value="&#128270;">
      </form>
      </h5>
    </div>
    <div class="card-body">
      <table class="table table-striped mb-0">
        <tr>
          <th>Name</th>
          <th>Amount of</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
        {% for ingredient in ingredient_list %}
          <tr>
            <td>
              {{ ingredient.name }}
            </td>
            <td>
              {{ ingredient.amount_of }}
            </td>
            <td>
              <a class="btn btn-sm btn-outline-secondary" href="{% url 'cafe:ingredient-update' pk=ingredient.id %}">Update</a>
            </td>
            <td>
              <a class="btn btn-sm btn-outline-danger" href="{% url 'cafe:ingredient-delete' pk=ingredient.id %}">Delete</a>
            </td>
          </tr>
       {% endfor %}
      </table>
    </div>
  {% include "includes/pagination.html" %}
  </div>
{% endblock %}